body{
  background-color: #FAF5F5;
}
#salutation{
  font-family: monospace;
  margin-top: 400px;
}
#main{
  margin-top: 10vh;
}
#eblem{
  height: 300px;
  width: 300px;
  background-image: url('D:/lab/Pseud0-Twitter/img/new.png');
  background-position: center;
  background-size: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;

}
#links{
  margin-top: 50px;
  text-align: center;
}

#signIn{
  padding: 10px 35px 10px 35px;
  margin: 60px 0 0 0;
}
#mainOfEblem{
  float: left;
  background-image: url('D:/lab/Pseud0-Twitter/img/original.jpg');
  height: 100vh;
  width: 45%;
  background-position: center;
}
#mainOfInfo{
  float: right;
  height: 100vh;
  width: 55%;
  text-align: center;
}
