.head{
  background: black;
  color: white;
  padding: 2px;
  text-align: center;
}
#main{
  margin-top: 10vh;
}
#eblem{
  height: 300px;
  width: 300px;
  border: 8px double black;
  margin: 0 auto;
  border-radius: 20px 100px 20px;;
}
#links{
  margin-top: 50px;
  text-align: center;
}
.sign{
  font-size: 20px;
  margin: 50px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}
#signIn{
  padding: 10px 35px 10px 35px;
}
