
body{
  background-color: #FAF5F5;
  background-image: url('D:/lab/Pseud0-Twitter/img/eblem.png');
  background-size: 20px;
}
.head{
  background: #A656C8;
  color: white;
  padding: 2px;
  text-align: center;
}
.footer{
  background: #A656C8;
  position:  fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  float: left;
}
.salutation{
    font-family: monospace;
}
.sign{
  font-size: 20px;
  margin: 50px;
  background-color: #A656C8;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-family: monospace;
  border-style: solid;
  border: 2px solid black;
}
.inputInfo{
  border-radius: 20px;
  padding: 10px;
  outline: none;
  width: 240px;
  text-align: center;
}
.bottomClick{
  width: 270px;
  height: 40px;
  color: white;
  background-color: #A656C8;
  border-radius: 60px;
  outline: none;
}
.eblem{
  background-image: url('D:/lab/Pseud0-Twitter/img/new.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
