#inputWindow {
    text-align: center;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    padding: 50px;
    top: 40%;
    left: 47%;
    margin: -50px 0 0 -100px;
}
#windowSighIn{

}
#inputInfo:{
    content:"";
    
}
