body {
    background-color: #FAF5F5;
    background-image: url("/../img/eblem.png");
    background-size: 20px;
}

.linkes {
    background-color: #F6D9F7;
    border-radius: 30px;
    padding: 14px;
    color: darkmagenta;
    margin: 50px;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    border:solid darkmagenta;
}
.inputBox {
    border-radius: 50px;
    height: 30px;
    width: 240px;
    outline: none;
    text-align: center;   
}

.enterButton {
    border-radius: 50px;
    height: 40px;
    width: 250px;
    margin-top: 15px;
    background-color: #C886DF;
}
.littlEbl{
    height:80px;
}





