body {
    background-color: #FAF5F5;
    background-image: url("/../img/eblem.png");
    background-size: 20px;
}

.linkes {
    background-color: #F6D9F7;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    color: darkmagenta;
    margin: 50px;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(132, 17, 176, 0.2) inset;
    -moz-box-shadow: 0px 0px 8px 6px rgba(132, 17, 176, 0.2) inset;
    box-shadow: 0px 0px 8px 6px rgba(132, 17, 176, 0.2) inset;
}
.inputBox {
    border-radius: 50px;
    height: 30px;
    width: 240px;
    outline: none;
    text-align: center;   
}

.enterButton {
    border-radius: 50px;
    height: 40px;
    width: 250px;
    margin-top: 15px;
    background-color: #C886DF;
    color:white;
    font-family:monospace;
}
.littlEbl{
    height:80px;
}
.content{
    height:100%;
    width:100%;
    top:450px;
    position:absolute;
    /*text-align:center;*/
    left:0px;
    
}
.content > div{
    width:520px;
    background-color:white;
    text-align:center;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 20px 0;
    position:relative;
    margin-left:31.6%;    
    word-wrap:break-word;

    -webkit-box-shadow: 0px 0px 14px -4px rgba(134, 46, 135, 0.51) inset;
    -moz-box-shadow: 0px 0px 14px -4px rgba(134, 46, 135, 0.51) inset;
    box-shadow: 0px 0px 14px -4px rgba(134, 46, 135, 0.51) inset;
}
.linkwa {
    text-decoration: none;
    color:darkmagenta;
    top:19px;
    position:relative;

}





